*{
    margin: 0px;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(42, 42, 43);
    /* background: url("../assets/main-bg-img.jpg") no-repeat;
    background-size: cover;
    background-position: center; */
    opacity: 0.3;
}

#navbar-menu
{
    font-size: 2rem;
    color: black;
}
