* {
  margin: 0;
  padding: 0;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
  min-width: 250px;
  box-sizing: content-box;
}

.quiz-header {
  width: 100%;
  border-bottom: 1px solid black;
}

.quiz-ques > h3 {
  margin-bottom: 2rem;
  text-align: left;
}

.opt-box
{
    margin-bottom: 1rem;
}

.option {
  display: flex;
  justify-content: second baseline;
  gap: 1rem;
}

.answer-box {
  max-width: 95%;
  box-sizing: border-box;
}

.answer-box > textarea {
  resize: vertical;
  margin-bottom: 1.5rem;
}

.submit
{
    margin-top: 2rem;
}