* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-quiz-box {
    overflow: hidden;
}

.quiz-container {
    list-style: none;
    clear: both;
}

.quiz-box {
    float: left;
    box-sizing: border-box;
    min-height: 150px;
    background-color: #ffffff2f;
    padding: 1rem;
}

#take-quiz-btn {
    background-color: #269c1b;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}
